<div class="crisis-list">
    <app-crisis-list [selected]="selected" [checked]="checked" (clicked)="receiveSelect($event)"></app-crisis-list>
</div>
<div class="map" 
    leaflet 
    [leafletOptions]="options" 
    (leafletClick)="mapClick()"
    (leafletMapReady)="onMapReady($event)"
    [(leafletZoom)]="zoom"
    [(leafletCenter)]="center">
    <app-crisis-layer (selectEvent)="receiveSelect($event)"
        (checkEvent)="receiveCheck($event)"
        [selected]="selected"></app-crisis-layer>
</div>

