<div class="crisis-list">
    <app-crisis-list *ngIf="checkReady"
    [selected]="selected" [checked]="checked" (clicked)="receiveListSelect($event)"></app-crisis-list>
    <div class="loader" *ngIf="!checkReady"></div>
</div>
<div class="map" 
    leaflet 
    [leafletOptions]="options" 
    (leafletClick)="mapClick()"
    (leafletMapReady)="onMapReady($event)"
    [(leafletZoom)]="zoom"
    [(leafletCenter)]="center">
    <app-crisis-layer (selectEvent)="receiveMapSelect($event)"
        (checkEvent)="receiveCheck($event)"
        (checkReadyEvent)="onCheckReady($event)"
        [selected]="selected"></app-crisis-layer>
</div>

