/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.leaflet-control-layers {
    visibility: hidden;
}

.temperature {
    background: #818181;
    opacity: 0.8;
    font-size: 0.8rem;
    width: 50px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    padding: 5px 0;
    border-radius: 10px;
    color: white;
}

.psi{
    background: white;
    opacity: 0.8;
    font-size: 0.8rem;
    font-weight: 600;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    border-radius: 15px;
    color: black;
}

* {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}